.course-details{
    width: 80%;
    margin: 2rem auto;
    border: 1px solid grey;
    padding: 1.5rem;
}

.course-details img{
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: black;
}
.course-details h2{
    font-size: 24px;
}
.course-details h3{
    font-size: 20px;
}
.course-details h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.course-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.course-details a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


@media screen and (max-width:668px) {
    .course-details img{
        height: 300px;
    }
    .course-details h2, .course-details h3{
        font-size: 18px;
    }
}