.cart-container{
    width: 70%;
    margin: 3rem auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1), 
    5px 5px 2px 5px rgba(0, 0, 0, 0.1);
}