.home-title{
    font-size:32px;
}
.home-para{
    font-size: large;
    text-transform: capitalize;
    color: grey;
    margin: 20px 0;
}
.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: white;
}

