.customize-link a{
    text-decoration: none;
    color: white;
}
.customize-link a:hover{
    color: red;
}

.brand-customize{
    text-decoration: none;
    color: white;
}

.brand-first{
    color: tomato;
}