.customize-link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.customize-link a:hover{
    color: red;
}

.brand-customize{
    text-decoration: none;
    color: green;
    font-weight: 600;
}

.brand-customize:hover{
    color: green;
}

.brand-first{
    color: tomato;
}