.form-design{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.form-design img{
    height: 420px;
    border-radius: 10px;
    width: 100%;
}

@media screen and (max-width:668px) {
    .form-design{
        grid-template-columns: 1fr;
    }
}